html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font: 1em system-ui;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

._app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
